.App {
  min-width: 100%;
  min-height: 100%;
}

.App>h1 {
  padding-right: 2%;
  text-align: right;
}
.App>h2{
  padding-left: 10%;
}

.Sidebar {
  max-width: 30%;
  min-height: 100%;
  border-right: white 1px solid;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  padding: 5%;
  padding-top: 2%;
}

@keyframes TaskItemSlideIn {
  0% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateX(0%);
  }
}

.Pinned {
  /* Blue box shadow */
  -webkit-box-shadow: 0px 0px 15px 5px white !important;
}

.TaskItem {
  text-align: center;
  margin: auto;
  width: 90%;
  min-height: 50px;
  position: relative;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  box-sizing: content-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 5%;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  transform: translateX(-150%);
  animation: TaskItemSlideIn .1s ease forwards;
  margin-top:5%;
  flex-direction: row-reverse;
}
.HighPriority{
  /* Red box shadow */
  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 0, 0, 0.9) !important;
}
.MediumPriority{
  /* Yellow box shadow */
  -webkit-box-shadow: 0px 0px 15px 5px rgba(218, 231, 39, 0.9) !important;
}
.TaskItemDateCreated{
  position:absolute;
  bottom:120%;
  right:0;
}
.TaskItem:first-of-type {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: none;
}

.TaskItemCheckbox {
  /* Remove default button styling */
  border: none;
  padding: 0;
  color: white;
  margin: 0;
  width: 50%;
  min-height: 100%;
  max-width: 100px;
  background: none;
  transition: .2s ease;
}

.TaskItemCheckbox:hover {
  cursor: pointer;
  background: darkgrey;
}

.TaskItemInput {
  /* Remove default input styling */
  border: none;
  padding: 0;
  margin: 0;
  color: white;
  width: 150%;
  min-height: 100%;
  background: none;
  transition: 1s ease;
  padding-left: 15px;
}

.TaskItemInput:hover {
  cursor: pointer;
}

.TaskItemInput:focus {
  background: rgba(255, 255, 255, 0.05);
  outline: none;
}

.TaskItemPin {
  /* Remove default button styling */
  border: none;
  padding: 0;
  color: white;
  margin: 0;
  width: 50%;
  min-height: 100%;
  max-width: 100px;
  background: none;
  transition: .2s ease;
}

.TaskItemPin:hover {
  cursor: pointer;
  background: darkgrey;
}

.TaskItemDelete {
  /* Remove default button styling */
  border: none;
  padding: 0;
  color: white;
  margin: 0;
  width: 50%;
  min-height: 100%;
  max-width: 100px;
  background: none;
  transition: .2s ease;
}

.TaskItemDelete:hover {
  cursor: pointer;
  background: darkgrey;
}

/* TaskItemPriority is a select input */
.TaskItemPriority {
  /* Remove default select styling */
  border: none;
  padding: 0;
  margin: 0;
  color: white;
  width: 50%;
  min-height: 100%;
  max-width: 100px;
  background: none;
  transition: .2s ease;
}

.TaskItemPriority:hover {
  cursor: pointer;
  background: darkgrey;
}

.TaskItemPriority:focus {
  background: grey;
  outline: none;
}

.TaskItemPriority option {
  background: grey;
  border-radius: 0;
  color: white;
}

.TaskItemPriority option:hover {
  background: darkgrey;
}

.AddTaskItemButton {
  width: 90%;
  text-align: center;
  margin: auto;
  min-height: 50px;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: .2s ease;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.AddTaskItemButtonIcon {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}